<h1>Crear publicación</h1>

<%= render 'form' %>
<br>
<div class="row">
 <div class="col-lg-12">
   <div class="col-lg-12">
    <%= link_to 'Bolver', publications_path, :class=>"btn btn-primary btn-sm" %>
   </div>
 </div>
</div>

